.audio-player {
  display: flex;
  padding: 5px;
  width: 100%;
}
.audio-img {
  width: 10vw;
}
.audio-img img {
  height: 70px;
  width: 70px;
  border-radius: 5px;
}
.player {
  width: 50vw;
}
.top,
.bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.top .left i {
  color: rgb(23, 238, 24);
}
.top i {
  font-size: 18px;
  cursor: pointer;
}
.top i:hover {
  color: rgb(23, 238, 24);
  transition: 0.3s;
}
.top .middle {
  width: 30vw;
  display: flex;
  justify-content: space-between;
}
.top .middle i {
  margin: 0 20px;
  font-size: 25px;
}
.top .right .delete:hover {
  color: rgb(250, 48, 48);
  transition: 0.3s;
}
.bottom input {
  width: 40vw;
}
.bottom #audio-bar {
  position: relative;
  outline: none;
  appearance: none;
  border: none;
  border: 10px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}
/* chrome & safari */
.bottom #audio-bar::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #ffffff;
  width: var(--played-width);
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: width 250ms linear;
}
.bottom #audio-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
  transition: all 250ms linear;
}
/* firefox */
.bottom #audio-bar::-moz-range-track {
  width: 100%;
  height: 5px;
  outline: none;
  appearance: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.bottom #audio-bar::-moz-range-progress {
  background: #848484;
  width: var(--played-width);
  height: 100%;
  border-radius: 10px;
  z-index: 2;
  transition: width 250ms linear;
}
.bottom #audio-bar::-moz-range-thumb {
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
  transition: all 250ms linear;
}
@media screen and (max-width: 430px) {
  .audio-img img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
  }
  .audio-img {
    width: 20vw;
  }
  .player {
    width: 70vw;
  }
}
